<?xml version="1.0" encoding="utf-8"?>
<uexplugins>

    <plugin
        className="org.zywx.wbpalmstar.plugin.chatkeyboard.EUExChatKeyboard" uexName="uexChatKeyboard" >
        <method name="open" />
        <method name="close" />
        <method name="getInputBarHeight"/>
        <method name="hideKeyboard"/>
        <method name="insertTextByKeyword"/>
        <method name="setPlaceholder"/>
    </plugin>

</uexplugins>